#.gitignore for Java projects (using eclipse)

# Windows
# thumbnails
Thumbs.db


# GIT
.git/

# Java
*.class
# packages 
*.jar
*.war
*.ear

# Eclipse
.settings/
.buildpath
.classpath
.project

# Logging
*.log

# jME (binaries)
*.so